:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --main-color: rgb(245, 62, 45);
  --main-color-rgba: rgb(245, 62, 45, 0.08);
}

* {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  /* =10px */
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid_full-width {
  width: 100%;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}

@keyframes hover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
