.header {
  height: 85px;
  width: 100%;
}

.content {
  background-color: rgb(238, 77, 45);
  width: 100%;
  height: 800px;
}

.heading_nav {
  font-weight: 200;
  font-size: 24px;
}

.header_logo {
  width: 130px;
}

.nav_left {
  display: inline-flex;
  align-items: center;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.nav_link-help {
  color: #ee4d2d;
  font-size: 1.4rem;
}

.content {
  width: 100;
}

.box_login {
  width: 1042px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.content_img {
  height: 400px;
  margin-top: 30px;
}

.login {
  width: 400px;
  background-color: var(--white-color);
  position: relative;
  top: 85px;
  border-radius: 4px;
}

.heading_login {
  font-size: 20px;
  font-weight: 200;
}

.phone_number {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 13px;
  border-radius: 3px;
}

.phone_number::placeholder {
  color: #C0C0C0;
}

.content_login {
  width: 335px;
  margin: 30px;
}

.next_login {
  width: 100%;
  height: 40px;
  background-color: #f3836c;
  font-size: 14px;
  color: var(--white-color);
  margin-top: 10px;
  cursor: no-drop;
}
